/*Universal selector*/
*{
    font-family: "Courier New";
    background-color: floralwhite;
}

/*Element Selector*/
h3{
    color: purple;
}

h1{
    color: #b92b27;
}

h1,h3{
    line-height: 2.5;
}

/*ID Selector*/
#login{
    background-color: white;
}

#signup {
    background-color: #b92b27;
    color: white;
}

/*Class Selector*/
.upvote{
    background-color: green;
    color: white;
}